@charset "UTF-8";
.chatRoomArea{
	height: 680px;
}
.chatlist{
	height: 10%;
}
.chatArea {
	height: 700px;
}
.chatRooms{
	height: 88%;
	background-color: #EEE;
}
.receiver {
	height: 10%;
}

.msgArea {
	height: 80%;
	overflow-y: scroll;
}
.chatRooms{
	overflow-y:scroll;
	
}

.inputArea {
	height: 10%;
}

.msgArea::-webkit-scrollbar {
	width: 8px;
}

.msgArea::-webkit-scrollbar-thumb {
	background-color: #BDBDBD;
	border-radius: 5px;
	background-clip: padding-box;
	border: 1px solid transparent;
}

.msgArea::-webkit-scrollbar-track {
	background-color: #EEE;
	border-radius: 5px;
}

.chatRooms::-webkit-scrollbar {
	width: 8px;
}

.chatRooms::-webkit-scrollbar-thumb {
	background-color: #BDBDBD;
	border-radius: 5px;
	background-clip: padding-box;
	border: 1px solid transparent;
}
.chatRooms::-webkit-scrollbar-track {
	background-color: #EEE;
	border-radius: 5px;
}

.chatRoom{
	cursor: pointer;
	width: auto;
}

.sender{
	text-align: left;
}
.login{
	text-align: right;
}
