	#memberList {
		
	}
/* 	div.card {
        height: 100%;
		width : 33%;
		float: left;
		
		border : 1px solid #DDD;
		
	} */
	
	.w3-table>ul>li {
		
		font-size: 12px;
	}
	.qnaArea{
		height: 700px;
	}
	
	.contentBox{
		height: 700px;
		padding-left: 40%
	}
	
	.commentBox{
		padding-top:200px;
	}
