@charset "UTF-8";
.w3-theme2-l5 {color:#000 !important; background-color:#fefdf9 !important}
.w3-theme2-l4 {color:#000 !important; background-color:#fcf7ec !important}
.w3-theme2-l3 {color:#000 !important; background-color:#faeeda !important}
.w3-theme2-l2 {color:#000 !important; background-color:#f7e6c7 !important}
.w3-theme2-l1 {color:#000 !important; background-color:#f4deb4 !important}
.w3-theme2-d1 {color:#000 !important; background-color:#edc67e !important}
.w3-theme2-d2 {color:#000 !important; background-color:#e8b65b !important}
.w3-theme2-d3 {color:#000 !important; background-color:#e3a738 !important}
.w3-theme2-d4 {color:#fff !important; background-color:#d4941e !important}
.w3-theme2-d5 {color:#fff !important; background-color:#b07b19 !important}

.w3-theme2-light {color:#000 !important; background-color:#fefdf9 !important}
.w3-theme2-dark {color:#fff !important; background-color:#b07b19 !important}
.w3-theme2-action {color:#fff !important; background-color:#b07b19 !important}

.w3-theme2 {color:#000 !important; background-color:#f2d6a2 !important}
.w3-text-theme2 {color:#f2d6a2 !important}
.w3-border-theme2 {border-color:#f2d6a2 !important}

.w3-hover-theme2:hover {color:#000 !important; background-color:#f2d6a2 !important}
.w3-hover-text-theme2:hover {color:#f2d6a2 !important}
.w3-hover-border-theme2:hover {border-color:#f2d6a2 !important}