@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap')
	;

html {
	background: #ECF0F1;
	font-family: 'Montserrat', sans-serif;
}

table {
	margin: 0;
	padding: 0;
	width: 100%;
}

.td {
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 5%;
}

.chkmsg {
	margin-left: 5%;
}

a {
	display: block;
	text-decoration: none;
	color: #A2A5A6;
	text-align: center;
	padding: 20px 0 0;
}

#loginbox {
	margin-top: 3%;
	margin-left:31%;
	width: 450px;
	min-height: 400px;
	padding: 2.5% 5% 2.5%;
	border-radius: 2.5%;
}

#custom-login-btn {
	padding: 0.5% 4% 0;
}

.logout {
	display: inline-block;
	text-align: right;
	text-decoration: none;
	color: #A2A5A6;
	margin-top: 8%;
	margin-left: 52%;
	padding: 0;
	width: 20%;
}

.signup {
	display: inline-block;
	text-align: right;
	text-decoration: none;
	color: #A2A5A6;
	margin-top: 8%;
	margin-left: 75%;
	padding: 0;
	width: 20%;
}

.tdname {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #6E6E6E;
}

h2 {
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: center;
}

input {
	margin: 5% 5%;
	border: none;
	width: 90%;
	font-size: 1.5em;
	padding: 0 0 2%;
	background: none;
}

textarea:focus, input:focus {
	outline: 0;
}

#mId {
	 /* border-bottom: 2px solid #FBD75C;  */
	 border-bottom: 2px solid #e3a738;
}

#mPw {
	/* border-bottom: 2px solid #f5b67f; */
	border-bottom: 2px solid #264f99;
}

label {
	color: #BDC3C7;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 4px;
}

#login {
	background: none;
	border: none;
	width: 90%;
	min-height: 50px;
	margin-left: 5%;
	margin-right: 0;
	margin-top: 10%;
	margin-bottom: 10%;
	border-radius: 2.5%;
	color: white;
	padding: 0.5% 0 0;
	font-size: 1.75em;
	-webkit-transition: background 1s ease-out;
	-moz-transition: background 1s ease-out;
	-o-transition: background 1s ease-out;
	transition: background 1s ease-out;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2b07e+0,fbd75c+100 */
	background: #e8b65b; /* Old browsers */
	background: -moz-linear-gradient(left, #e8b65b 0%, #f2d6a2 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e8b65b),
		color-stop(100%, #fadabf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #e8b65b 0%, #f2d6a2 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #e8b65b 0%, #f2d6a2 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, #e8b65b 0%, #f2d6a2 100%);
	/* IE10+ */
	background: linear-gradient(to right, #e8b65b 0%, #f2d6a2 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d6a2',
		endColorstr='#e8b65b', GradientType=1); /* IE6-9 */
}

#login:hover {
	background-position: -322px;
	cursor: pointer;
}

html {
	/* background-color: #fffff5; */
	background-color: white;
}

form {
	/* background-color: #fffff5; */
	background-color: white;
}