@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap')
	;

html {
	background: #ECF0F1;
	font-family: 'Montserrat', sans-serif;
}

table {
	margin: 0;
	padding: 0;
	width: 50;
}

.td {
	margin-top: 15px;
	margin-bottom: 15px;
}

.chkmsg {
	margin-left: 5%;
}

a {
	display: block;
	text-decoration: none;
	color: #A2A5A6;
	text-align: center;
	padding: 20px 0 0;
}

.tdname {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #6E6E6E;
}

.sendp {
	padding: 0;
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 14px;
	color: white;
}

form {
	margin: 5% auto;
	width: 650px;
	min-height: 400px;
	background: white;
	padding: 2.5% 5% 2.5%;
	border-radius: 2.5%;
}

form img {
	text-align: center;
	width: 35%;
	margin: 0 auto;
	display: block;
	padding: 0;
}

h2 {
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: center;
}

input {
	margin: 5% 5%;
	border: none;
	width: 90%;
	font-size: 1.5em;
	padding: 0 0 2%;
	background: none;
}

#sendmail {
	background-color: #F8BC94;
	border-radius: 5px;
	cursor: pointer;
	height: 30px;
	border: 0;
	outline: 0;
}

#sendmail:hover {
	background-color:#F9B486;
}

textarea:focus, input:focus {
	outline: 0;
}

#mId {
	border-bottom: 2px solid #FBD75C;
}

#mPw {
	border-bottom: 2px solid #F2B07E;
}

#chkmPw {
	border-bottom: 2px solid #BDC3C7;
}

#mChk {
	border-bottom: 2px solid #F2B07E;
}

#mNick {
	border-bottom: 2px solid #F2B07E;
}

#mAddr {
	border-bottom: 2px solid #FBD75C;
}

#code {
	border-bottom: 2px solid #FBD75C;
}

label {
	color: #BDC3C7;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 4px;
}

#submit {
	background: none;
	border: none;
	width: 90%;
	min-height: 50px;
	margin: 5% 5%;
	border-radius: 2.5%;
	color: white;
	padding: 0.5% 0 0;
	font-size: 1.75em;
	-webkit-transition: background 1s ease-out;
	-moz-transition: background 1s ease-out;
	-o-transition: background 1s ease-out;
	transition: background 1s ease-out;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2b07e+0,fbd75c+100 */
	background: #f2b07e; /* Old browsers */
	background: -moz-linear-gradient(left, #f2b07e 0%, #fbd75c 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f2b07e),
		color-stop(100%, #fbd75c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f2b07e 0%, #fbd75c 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f2b07e 0%, #fbd75c 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f2b07e 0%, #fbd75c 100%);
	/* IE10+ */
	background: linear-gradient(to right, #f2b07e 0%, #fbd75c 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b07e',
		endColorstr='#fbd75c', GradientType=1); /* IE6-9 */
}

#button {
	background: none;
	border: none;
	width: 90%;
	min-height: 50px;
	margin: 5% 5%;
	border-radius: 2.5%;
	color: white;
	padding: 0.5% 0 0;
	font-size: 1.75em;
	-webkit-transition: background 1s ease-out;
	-moz-transition: background 1s ease-out;
	-o-transition: background 1s ease-out;
	transition: background 1s ease-out;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2b07e+0,fbd75c+100 */
	background: #fcb69f; /* Old browsers */
	background: -moz-linear-gradient(left, #fcb69f 0%, #ffecd2 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fcb69f),
		color-stop(100%, #ffecd2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #fcb69f 0%, #ffecd2 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #fcb69f 0%, #ffecd2 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, #fcb69f 0%, #ffecd2 100%);
	/* IE10+ */
	background: linear-gradient(to right, #fcb69f 0%, #ffecd2 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb69f',
		endColorstr='#ffecd2', GradientType=1); /* IE6-9 */
}

#submit:hover {
	background-position: -310px;
	cursor: pointer;
}

#button:hover {
	background-position: -310px;
	cursor: pointer;
}

html {
	/* background-color: #fffff5 */
	background-color: white;
}

form {
	background-color: white;
}

/* file css */
.filebox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.filebox label {
	display: inline-block;
	margin-left: 5%;
	padding: 10px 20px;
	width: 58px;
	height: 15px;
	color: #999;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-radius: 5px;
}

/* named upload */
.filebox #mImg {
	display: inline-block;
	margin: 0;
	height: 35px;
	width: 53%;
	font-size: 18px;
	padding: 0 10px;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-radius: 5px;
}