@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap')
	;
body {
	margin: 0;
	padding: 0;
}

.container {
	margin-left: 5%;
	margin-right: 5%;
}

table {
	width: 40%;
	border-collapse: collapse;
	text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 10%;
}

#addInfo{
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 700;
	font-size: 40px;
}

.tdname {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #6E6E6E;
}

input{
	width: 230px;
	margin: 5%;
}

#mNick {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #6E6E6E;
}

#mAddr {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #6E6E6E;
}

.tdinput{
	border: 1px solid #162D59;
}

#addrBtn {
	background-color: #edc67e;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	height: 30px;
	border: 0;
	outline: 0;
}

#addrBtn:hover {
	background-color:#f2d6a2;
	cursor: pointer;
}

#submitBtn {
	background-color: #f5b67f;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	height: 30px;
	border: 0;
	outline: 0;
}

#submitBtn:hover {
	background-color:#f7c89f;
	cursor: pointer;
}